@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,700;1,600;1,700;1,800&family=Roboto:wght@300&display=swap');

/* 
   * Roboto --> Light 300
   * Bodoni Moda --> semi-bold 600 italic; bold 700; 
   */

:root {
  --primary-font-roboto: "Roboto", sans-serif;
  --secondary-font-bodoni-moda: "Bodoni Moda", serif;
  --main-color: hotpink;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: wheat;
}

#intro-header {
  font-family: var(--secondary-font-bodoni-moda);
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}

#main-header {
  font-family: var(--secondary-font-bodoni-moda);
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#main-copy-paragraph {
  font-family: var(--primary-font-roboto);
  font-size: 1.4rem;
  padding: 0 40px;
  line-height: 1.8;
}



/** MEDIA QUERIES **/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav-container {
    padding: 10px 0 0 10px;
  }

  #intro-header,
  #main-header,
  #socials-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #main-copy-paragraph {
    text-align: center;
  }

  #socials {
    border: solid red 1px;
  }
}