@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,600;0,700;1,700&family=Roboto&display=swap');

/* 
   * Roboto --> regular 400
   * Bodoni Moda --> semi-bold 600 italic; bold 700; 
   */

:root {
  --primary-font-roboto: "Roboto", sans-serif;
  --secondary-font-bodoni-moda: "Bodoni Moda", serif;
  /* --main-color: hotpink; */
}

* {
  margin: 0;
  padding: 0;
}

#hero-image-container {
  background: url(/images/startup-team-around-table.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/** MEDIA QUERIES **/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav-container {
    padding: 20px 0 0 20px;
  }

  #intro-header,
  #main-header,
  #socials-container {
    display: flex;
    justify-content: center;
  }

  #intro-header {
    font-family: var(--secondary-font-bodoni-moda);
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    margin-top: 30px;
  }

  #main-header {
    font-family: var(--secondary-font-bodoni-moda);
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 0 60px;
    line-height: 1.1;
    letter-spacing: 0.01em;
  }

  #main-copy-paragraph {
    font-family: var(--primary-font-roboto);
    font-size: 1.35rem;
    padding: 0 51px;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 1.7;
    text-align: center;
  }

  #input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 45px;
    gap: 10px;
    margin-bottom: 80px;
  }

  #enter-user-info-textbox {
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
  }

  #enter-user-info-button {
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    background: #000;
    color: #fff;
    border: #000;
  }

  #socials {
    border: solid red 1px;
  }

  #hero-image-container {
    margin: 0 40px;
  }

  footer {
    background: #000;
    height: 5vh;
    color: #fff;
    font-family: var(--primary-font-roboto);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}